@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
    --WHITE: hsl(0, 0%, 100%);
    --LIGHTSLATE: hsl(202, 86%, 94%);
    --MEDIUMSLATE: hsl(203, 41%, 72%);
    --DEEPSLATE: hsl(200, 26%, 54%);
    --DEEPERSLATE: hsl(200, 24%, 40%);
    --HEAVYSLATE: hsl(202, 55%, 16%);
    --LIME: hsl(61, 70%, 52%);
    --RED: hsl(4, 69%, 50%);
}

body {
   background-color: var(--LIGHTSLATE);
   min-height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Plus Jakarta Sans", sans-serif;
   font-size: 1rem;
}

.mortgage_card {
    width: 60vw;
    background-color: var(--WHITE);
    border: 1px solid red;
    display: flex;
    gap: 20px;
    overflow: hidden;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.mortgage_calculator_section {
    /* border: 1px solid brown; */
    width: 50%;
    padding-top: 35px;
    padding-left: 20px;
}
.mortgage_heading {
    /* border:1px solid purple; */
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
h1 {
    font-size: 1.2em;
    font-weight: 700;
    font-family: inherit;
    color: var(--HEAVYSLATE);
}
.clear {
    border: none;
    background-color: var(--WHITE);
    color: var(--DEEPSLATE);
    font-family: inherit;
    font-weight: 700;
    border-bottom: 1px solid var(--DEEPSLATE);
}

form {
    /* border: 1px solid darkgreen; */
    margin-top: 30px;
    width: 100%;
}
.mortgage_amount {
    /* border: 1px solid gold; */
    width: 100%;
}
.mortgage_details {
    margin-top: 20px;
    display: flex;
    width: 100%;
    gap: 10px;
}
.mortgage_type {
    margin-top: 20px;
    width: 100%;
}
.amount_input {
    border: 1.5px solid var(--DEEPERSLATE);
    display: flex;
    height: 35px;
    border-radius: 5px;
    margin-top: 7px;
}
.amount {
    border: none;
    width: 100%;
    outline: none;
    padding: 5px;
}
.symbol {
    font-family: inherit;
    font-weight: 700;
    padding: 8px;
    color: var(--DEEPSLATE);
    background-color: var(--LIGHTSLATE);
}
.mortgage_amount > label {
    font-size: 13px;
    font-family: inherit;
    color: var(--DEEPERSLATE);
}
.years {
    border: 1.5px solid var(--DEEPERSLATE);
    display: flex;
    height: 35px;
    border-radius: 5px;
    /* width: 50%; */
    margin-top: 7px;
}
.mortgage_interest {
    border: 1.5px solid var(--DEEPERSLATE);
    display: flex;
    height: 35px;
    border-radius: 5px;
    /* overflow: hidden; */
    margin-top: 7px;
}
.mortgage_rate {
    border: none;
    outline: none;
    padding: 5px;
}
.length {
    font-family: inherit;
    font-weight: 700;
    padding: 8px;
    color: var(--DEEPERSLATE);
    background-color: var(--LIGHTSLATE);
    font-size: 13px;
}
.mortgage_length {
    border: none;
    outline: none;
    padding: 5px;
}
.percentage {
    font-family: inherit;
    font-weight: 700;
    padding: 8px;
    color: var(--DEEPERSLATE);
    background-color: var(--LIGHTSLATE);
    font-size: 13px;
}
.mortgage_term > label {
    font-size: 13px;
    font-family: inherit;
    color: var(--DEEPERSLATE);
}
.interest > label {
    font-size: 13px;
    font-family: inherit;
    color: var(--DEEPERSLATE);
}
.mortgage_type > label {
    font-size: 13px;
    font-family: inherit;
    color: var(--DEEPERSLATE);
}
.first_radio_input {
    display: flex;
    gap: 12px;
    border: 1.5px solid var(--DEEPERSLATE);
    height: 35px;
    align-items: center;
    padding-left: 10px;
    margin-top: 7px;
}
.second_radio_input {
    display: flex;
    gap: 12px;
    border: 1.5px solid var(--DEEPERSLATE);
    border-radius: 5px;
    height: 35px;
    align-items: center;
    margin-top: 10px;
    padding-left: 10px;
}
.first_radio_input > label {
    font-family: inherit;
    font-weight: 700;
    color: var(--HEAVYSLATE);
    font-size: 14.5px;
}
.second_radio_input > label {
    font-family: inherit;
    font-weight: 700;
    color: var(--HEAVYSLATE);
    font-size: 14.5px;
}
.form_button {
    margin-top: 20px;
    margin-bottom: 25px;
    height: 45px;
    width: 250px;
    background-color: var(--LIME);
    border: none;
    border-radius: 20px;
    font-family: inherit;
    font-weight: 700;
    font-size: .9em;
}
.repayment_button {
    display: flex;
    align-items: center;
    width: 74%;
    margin: auto;
    gap: 5px;
}
.mortgage_result {
    width: 50%;
    background-color: var(--HEAVYSLATE);
    border-bottom-left-radius: 70px;
}
.result_content {
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
h2 {
    font-family: inherit;
    font-size: 1.3em;
    color: var(--WHITE);
    font-weight: 500;
}
p {
    color: var(--MEDIUMSLATE);
    font-family: inherit;
    font-size: .8em;
    width: 72%;
    text-align: center;
}